{% extends 'base.html' %}



{% block content %}
    <section class="single-blog-page-wrap padding-top-80 padding-bottom-50">
        <div class="container">
            <div class="row gutters-60">
                <div class="col-lg-8">
                    <div class="single-blog-box">
                        <div class="main-figure">
                            {#                            доступаємося до окремого поста#}
                            <a href="single-blog.html"><img src="{{ object.image.url }}" alt="Blog"></a>
                        </div>
                        <div class="blog-content">
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fas fa-clock"></i>{{ object.created }}</a></li>
                                <li><a href="#"><i class="fas fa-user"></i>by <span>{{ object.author.username }}</span></a>
                                </li>
                                <li><a href="#"><i class="fas fa-comments"></i>Comments <span>(03)</span></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i><span>59</span></a></li>
                            </ul>
                            <h3 class="item-title">{{ object.title }}</h3>
                            {#                            safe - для того щоб інфа яку ми додавали через ckeditor відображалася правильно#}
                            <p class="item-details">{{ object.description|safe }}</p>
                        </div>
                        <div class="tag-share">
                            <ul>
                                <li>
                                    <ul class="inner-tag">
                                        {#                                        доступаємося до всіх тегів вибраного поста (m2m fields) та ітеруємо їх#}
                                        {% for tag in object.tags.all %}
                                            <li>
                                                <a href="#">{{ tag.name }}</a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </li>
                                <li>
                                    <ul class="inner-share">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="recipe-author">
                            <div class="media media-none--xs">
                                <img src="img/blog/author9.jpg" alt="Blog Author" class="rounded-circle media-img-auto">
                                <div class="media-body">
                                    <h4 class="author-title">Michel Jack</h4>
                                    <h5 class="author-sub-title">Written by</h5>
                                    <p>I love cooking and blogging. Using a fork, break salmon. Halve reserved
                                        potatoes and eggs crosswise. The of something of did require met of
                                        help have someone.</p>
                                    <ul class="author-social">
                                        <li>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="next-prev-post">#}
                        {#                            <div class="prev-post">#}
                        {#                                <a href="#" class="item-figure"><img src="img/blog/prev-post.jpg" alt="Post"></a>#}
                        {#                                <div class="item-content">#}
                        {#                                    <p>PREVIOUS POST</p>#}
                        {#                                    <h3 class="post-title"><a href="#">Old school pancake next area so goody</a></h3>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="next-post">#}
                        {#                                <div class="item-content">#}
                        {#                                    <p>NEXT POST</p>#}
                        {#                                    <h3 class="post-title"><a href="#">Old school pancake next area so goody</a></h3>#}
                        {#                                </div>#}
                        {#                                <a href="#" class="item-figure"><img src="img/blog/next-post.jpg" alt="Post"></a>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="recipe-reviews">
                            <div class="section-heading3 heading-dark">
                                <h2 class="item-heading">RECIPE REVIEWS</h2>
                            </div>
                            <ul>
                                {% for comment in object.comments.all %}
                                    <li class="reviews-single-item">
                                        <div class="media media-none--xs">
                                            {#                                        <img src="img/blog/comment1.jpg" alt="Comment" class="media-img-auto">#}
                                            <div class="media-body">
                                                <h4 class="comment-title">{{ comment.author.email }}</h4>
                                                <span class="post-date">{{ comment.created }}</span>
                                                <p>{{ comment.text }}</p>
                                                {#                                            <ul class="item-rating">#}
                                                {#                                                <li class="single-item star-fill"><i class="fas fa-star"></i></li>#}
                                                {#                                                <li class="single-item star-fill"><i class="fas fa-star"></i></li>#}
                                                {#                                                <li class="single-item star-fill"><i class="fas fa-star"></i></li>#}
                                                {#                                                <li class="single-item star-fill"><i class="fas fa-star"></i></li>#}
                                                {#                                                <li class="single-item star-empty"><i class="fas fa-star"></i></li>#}
                                                {#                                                <li class="single-item"><span>9<span> / 10</span></span></li>#}
                                                {#                                            </ul>#}
                                                {#                                            <a href="#" class="item-btn">REPLY<i#}
                                                {#                                                    class="fas fa-long-arrow-alt-right"></i></a>#}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="leave-review">
                            <div class="section-heading3 heading-dark">
                                <h2 class="item-heading">LEAVE A REVIEW</h2>
                            </div>
                            {#        після заповнення форми йдемо по силці --#}
                            {#           path('comment/create/<int:post_id>/', #}
                            {#         views.CommentCreateView.as_view(), name="create_comment"),#}
                            {#       також передаємо айдішку поста якого ми коментуємо#}
                             <form action="{% url 'create_comment' object.id %}"
                                  class="leave-form-box" method="post" >
                                {% csrf_token %}
{#                                рендеримо форму #}
                                {{ comment_form }}
                                <button type="submit" class="btn btn-outline-info">POST REVIEW</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% include 'includes/left_side_bar.html' %}
            </div>
        </div>
    </section>
{% endblock %}