{% autoescape off %}


<div style="max-width: 600px; margin: 0 auto;">
    <div style="background-color: #f4f4f4; padding: 30px;">
      <h1 style="text-align: center;">Account Verification</h1>
      <p style="text-align: center; font-size: 16px;">Hello,{{user.first_name}}! Please verify your account to start using our service.</p>
      <div style="text-align: center;">
        <a href="http://{{domain}}{% url 'activate_account' uidb64=uid token=token %}" style="background-color: #4caf50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">Verify account</a>
      </div>
    </div>
</div>

{% endautoescape %}