{% extends 'base.html' %}


{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">Поздравляем!</h4>
            <p>Вы успешно зарегистрировались.</p>
            <hr>
            <p class="mb-0">Пожалуйста, перейдите на свою почту, чтобы подтвердить регистрацию и активировать ваш аккаунт.</p>
            </div>
        </div>
        </div>
    </div>
  

{% endblock %}