{% extends 'base.html' %}


{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">Congratulations!</h4>
            <p>You have successfully registered.</p>
            <hr>
            <p class="mb-0">Please go to your email to confirm registration and activate your account.</p>
            </div>
        </div>
        </div>
    </div>
  

{% endblock %}