{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Inne Page Banner Area Start Here -->
    <section class="inner-page-banner bg-common" data-bg-image="img/figure/inner-page-banner1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumbs-area">
                        <h1>Our All Author</h1>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Author Page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Inne Page Banner Area End Here -->
    <!-- Author Area Start Here -->
    <section class="author-page-wrap padding-top-80 padding-bottom-50">
        <div class="container">
            <div class="row gutters-60">
                <div class="col-lg-8">
                    <div class="author-box-layout1">
                        <div class="adv-search-wrap">
                            <div class="input-group">
                                <form action="{% url 'search_user' %}" method="get">
                                    <div class="mb-3">
                                        <label  class="form-label">First name</label>
                                        <input name="query" type="search" class="form-control"
                                               placeholder="search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h3 class="author-section-title">Totwsegsgal 1,050 Authors</h3>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for user in object_list %}
                                    <tr>
                                        <th>
                                            <div class="author-personal-info">
                                                <a href="#" class="item-figure">
                                                    {% if user.profile_img %}
                                                        <img src="{{ user.profile_img.url }}" alt="Author">
                                                    {% else %}
                                                        <img src="{% static '/img/user_profile.png' %} " alt="Author">
                                                    {% endif %}
                                                </a>
                                                <div class="item-content">
                                                    <div class="item-title"><a href="#">{{ user.full_name }}</a></div>
                                                    <div class="item-designation">{{ user.email }}</div>
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="author-social-info">
                                                <ul>
                                                    <li>
                                                        <div>
                                                            <h4 class="item-title">Recipes</h4>
                                                            <span class="item-number">15</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h4 class="item-title">Reviews</h4>
                                                            <span class="item-number">29</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h4 class="item-title">Favourite</h4>
                                                            <span class="item-number">35+</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <ul class="pagination-layout1">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                    <div class="widget">
                        <div class="section-heading heading-dark">
                            <h3 class="item-heading">ABOUT ME</h3>
                        </div>
                        <div class="widget-about">
                            <figure class="author-figure"><img src="img/figure/about.jpg" alt="about"></figure>
                            <figure class="author-signature"><img src="img/figure/signature.png" alt="about"></figure>
                            <p>Fusce mauris auctor ollicituder teary iner hendrerit risusey aeenean rauctor pibus
                                doloer.</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="section-heading heading-dark">
                            <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                        </div>
                        <div class="widget-follow-us">
                            <ul>
                                <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>LIKE ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>LIKE ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>LIKE ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>LIKE ME</a></li>
                                <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>Subscribe</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="section-heading heading-dark">
                            <h3 class="item-heading">LATEST RECIPES</h3>
                        </div>
                        <div class="widget-latest">
                            <ul class="block-list">
                                <li class="single-item">
                                    <div class="item-img">
                                        <a href="#"><img src="img/product/latest1.jpg" alt="Post"></a>
                                        <div class="count-number">1</div>
                                    </div>
                                    <div class="item-content">
                                        <div class="item-ctg">DESERT</div>
                                        <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                        <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                    </div>
                                </li>
                                <li class="single-item">
                                    <div class="item-img">
                                        <a href="#"><img src="img/product/latest2.jpg" alt="Post"></a>
                                        <div class="count-number">2</div>
                                    </div>
                                    <div class="item-content">
                                        <div class="item-ctg">DESERT</div>
                                        <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                        <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                    </div>
                                </li>
                                <li class="single-item">
                                    <div class="item-img">
                                        <a href="#"><img src="img/product/latest3.jpg" alt="Post"></a>
                                        <div class="count-number">3</div>
                                    </div>
                                    <div class="item-content">
                                        <div class="item-ctg">DESERT</div>
                                        <h4 class="item-title"><a href="#">Salami Oven Roasted are
                                            Mozzarella Oelette</a></h4>
                                        <div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
                                            John Martin</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Author Area End Here -->
{% endblock %}